USE [master]
GO
/****** Object:  Database [GPDF]    Script Date: 17.01.2023 20:01:51 ******/
CREATE DATABASE [GPDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GPDF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GPDF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GPDF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GPDF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GPDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GPDF]
GO
/****** Object:  User [sa]    Script Date: 17.01.2023 20:01:51 ******/
CREATE USER [sa] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [kullanıcı]    Script Date: 17.01.2023 20:01:51 ******/
CREATE USER [kullanıcı] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[kullanıcı]
GO
ALTER ROLE [db_owner] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_datareader] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [kullanıcı]
GO
/****** Object:  Schema [kullanıcı]    Script Date: 17.01.2023 20:01:51 ******/
CREATE SCHEMA [kullanıcı]
GO
/****** Object:  Table [dbo].[Ders]    Script Date: 17.01.2023 20:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](30) NULL,
	[Kredisi] [float] NULL,
	[OkulYonetimId] [int] NULL,
	[DersRenk] [int] NULL,
 CONSTRAINT [PK_Ad] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 17.01.2023 20:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [varchar](50) NULL,
	[KayitTarih] [datetime2](7) NULL,
	[OgrenciNo] [varchar](11) NULL,
	[DTarih] [date] NULL,
	[Bolum] [varchar](30) NULL,
 CONSTRAINT [PK_Ogrenci] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrenciDers]    Script Date: 17.01.2023 20:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciDers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DersId] [int] NULL,
	[OgrenciId] [int] NULL,
 CONSTRAINT [PK_OgrenciDers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 17.01.2023 20:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [varchar](30) NULL,
	[Gorevi] [varchar](50) NULL,
	[YonetimTip] [int] NULL,
 CONSTRAINT [PK_Personel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ders] ON 

INSERT [dbo].[Ders] ([Id], [Ad], [Kredisi], [OkulYonetimId], [DersRenk]) VALUES (1, N'Bilgisayar progam', 1, 1, 1)
INSERT [dbo].[Ders] ([Id], [Ad], [Kredisi], [OkulYonetimId], [DersRenk]) VALUES (2, N'Deniz liman', 1, 1, 2)
INSERT [dbo].[Ders] ([Id], [Ad], [Kredisi], [OkulYonetimId], [DersRenk]) VALUES (5, N'Deniz liman1', 1, 2, 2)
SET IDENTITY_INSERT [dbo].[Ders] OFF
GO
SET IDENTITY_INSERT [dbo].[Ogrenci] ON 

INSERT [dbo].[Ogrenci] ([Id], [AdSoyad], [KayitTarih], [OgrenciNo], [DTarih], [Bolum]) VALUES (1, N'Ahmet Senel', CAST(N'2022-12-08T14:10:44.0000000' AS DateTime2), N'213213123', CAST(N'2000-09-21' AS Date), N'Bilgisayar Mühendisliği')
INSERT [dbo].[Ogrenci] ([Id], [AdSoyad], [KayitTarih], [OgrenciNo], [DTarih], [Bolum]) VALUES (2, N'Burak Durmus', CAST(N'2022-12-08T14:10:44.6905355' AS DateTime2), N'213213125', CAST(N'2000-09-21' AS Date), N'Bilgisayar progam')
SET IDENTITY_INSERT [dbo].[Ogrenci] OFF
GO
SET IDENTITY_INSERT [dbo].[OgrenciDers] ON 

INSERT [dbo].[OgrenciDers] ([Id], [DersId], [OgrenciId]) VALUES (1, 1, 1)
INSERT [dbo].[OgrenciDers] ([Id], [DersId], [OgrenciId]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[OgrenciDers] OFF
GO
SET IDENTITY_INSERT [dbo].[Personel] ON 

INSERT [dbo].[Personel] ([Id], [AdSoyad], [Gorevi], [YonetimTip]) VALUES (1, N'Sükrü Sezer', N'Ogretmen', 11)
INSERT [dbo].[Personel] ([Id], [AdSoyad], [Gorevi], [YonetimTip]) VALUES (2, N'Senay Sına', N'İdare', 11)
SET IDENTITY_INSERT [dbo].[Personel] OFF
GO
ALTER TABLE [dbo].[Ders]  WITH CHECK ADD  CONSTRAINT [FK_Ders_Personel] FOREIGN KEY([OkulYonetimId])
REFERENCES [dbo].[Personel] ([Id])
GO
ALTER TABLE [dbo].[Ders] CHECK CONSTRAINT [FK_Ders_Personel]
GO
ALTER TABLE [dbo].[OgrenciDers]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciDers_Ders] FOREIGN KEY([DersId])
REFERENCES [dbo].[Ders] ([Id])
GO
ALTER TABLE [dbo].[OgrenciDers] CHECK CONSTRAINT [FK_OgrenciDers_Ders]
GO
ALTER TABLE [dbo].[OgrenciDers]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciDers_Ogrenci] FOREIGN KEY([OgrenciId])
REFERENCES [dbo].[Ogrenci] ([Id])
GO
ALTER TABLE [dbo].[OgrenciDers] CHECK CONSTRAINT [FK_OgrenciDers_Ogrenci]
GO
USE [master]
GO
